.ub1 {
    width: 45px;
    height: 57px;
    background: #ffffff;
    text-align: center;
    font-size: 10pt;
    line-height: 1em;
    color: black;
}

.ub2 {
    width: 45px;
    height: 57px;
    background: #ffffff;
    text-align: center;
    font-size: 13pt;
    line-height: 1em;
    color: black;
}

.ub3 {
    width: 45px;
    height: 57px;
    background: #ff0000;
    text-align: center;
    font-size: 13pt;
    line-height: 1em;
    color: black;
}

.ub-text1 {
    font-size: 10pt;
    padding: 4pt;
    line-height: 1.25em;
    color: black;
}

.uo1 {
    float: left;
    border: 1px solid #cbffff;
    margin: 1px;
}

.ub4 {
    width: 45px;
    height: 57px;
    background: #CCFF00;
    text-align: center;
    font-size: 16pt;
    line-height: 1em;
    color: black;
}

.user-box {
    width: 260px;
    min-height: 59px;
    margin: 0;
    background: #ffffff;
}

.box-out1 {
    float: left;
    border: 1px solid #ff00ff;
    margin: 1px;
}